/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 85%;
  margin-bottom: 50px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(247, 247, 247);
  /*background-color: rgb(255, 169, 9);*/
}

.navbar-brand {
  height: 50%;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  /*background-color: #fff;
  border: 1px solid #999;*/
  padding: 5px;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  /*background-color: #fff;
  border: 1px solid #999;*/
  left: 25%;
  padding: 5px;
  position: absolute;
  top: 115px;
  z-index: 5;
}
